// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  display: inline;
  style: none;
  border: 1px solid rgba(80, 80, 80, 0.3);
  padding: 15px;
  font-family: courier;
  font-size: 24px;
  background-color: #AEC5EB;
  color: white;
}

ul {
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 20px;
}

.form-control {
  width: 40px;
}
